Repository EgizianoEG/String-Plus, changes with the labels that .github/labeler.yml gives for each.
All labels: Source Change, Documentation

Rename Variables
  Source/Init.lua
Labels: Source Change

Move Starts, Ends, and Contains to the Validator
  Source/Init.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Revert "Move Starts, Ends, and Contains to the Validator"
  Source/Init.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Move "Starts", "Ends", and "Contains" Functions
  Source/Init.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Add String.IsValidUsername
  Source/[Extended] - Validator.lua
Labels: Source Change

Add String.IsValidUsername
  Source/[Extended] - Validator.lua
Labels: Source Change

Remove "AlphabeticalOrder"
  Source/Init.lua
Labels: Source Change

Update TypeChecking.lua
  Source/TypeChecking.lua
Labels: Source Change

Rename ByteSeparator to Delimiter for the encoder
  Source/Init.lua
  Source/TypeChecking.lua
Labels: Source Change

Improve performance for the binary decoder
  Source/Init.lua
Labels: Source Change

Add an additional checks for validating
  Source/[Extended] - Validator.lua
Labels: Source Change

Fix for IsValidUsername
  Source/[Extended] - Validator.lua
Labels: Source Change

Restructure "GenerateKey"
  Source/[Extended] - Random.lua
Labels: Source Change

Restructure "GenerateKey"
  Source/TypeChecking.lua
Labels: Source Change

Typechecking Fix for "Generate" Function
  Source/TypeChecking.lua
Labels: Source Change

Typechecking Fix for "Generate" Function
  Source/[Extended] - Random.lua
Labels: Source Change

Add "RandomFromString"
  Source/[Extended] - Random.lua
Labels: Source Change

Add "RandomFromString"
  Source/TypeChecking.lua
Labels: Source Change

Add "PasswordValidate"
  Source/TypeChecking.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Add "Segments" Function
  Source/Init.lua
  Source/TypeChecking.lua
Labels: Source Change

Modify "Stringify"
  Source/[Extended] - Stringify.lua
Labels: Source Change

Update Typechecking
  Source/TypeChecking.lua
Labels: Source Change

Fix For AnalyzeText
  Source/Init.lua
Labels: Source Change

Rename "ApplyTitleCase" & "AnalyzeText"
  Source/Init.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Update TypeChecking
  Source/TypeChecking.lua
Labels: Source Change

Add "IsHexColor"
  Source/TypeChecking.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Add "IsHexColor" (#21)
  Source/TypeChecking.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Add: StringPlus.Distort
  Source/Init.lua
  Source/TypeChecking.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Add Function: Distort (#22)
  Source/Init.lua
  Source/TypeChecking.lua
  Source/[Extended] - Validator.lua
Labels: Source Change

Enhancement For: UTF8Reverse
  Source/[Extended] - UTF8Reverse.lua
Labels: Source Change

Enhancement for UTF8Reverse Function (#23)
  Source/[Extended] - UTF8Reverse.lua
Labels: Source Change

Version 1.2.0
  README.md
Labels: none

Intial Improved Documentation
  .github/workflows/DocsAutoPublish.yml
  Docs/ChangeLog.md
  Docs/Extra/Java.js
  Docs/Extra/Macros.py
  Docs/Extra/__pycache__/Macros.cpython-311.pyc
  Docs/MainModule.md
  Docs/Modules/Iterators.md
  Docs/Modules/MainModule.md
  Docs/Modules/Random.md
  Docs/Modules/Stringify.md
  Docs/Modules/UTF8Reverse.md
  Docs/Modules/Validator.md
  Docs/Overrides/.icons/Custom/RobloxStudio.svg
  Docs/Overrides/main.html
  Docs/Overrides/partials/social.html
  Docs/Overrides/partials/toc-item.html
  Docs/Stylesheets/DarkMode.css
  Docs/Stylesheets/Extra.css
  Docs/Stylesheets/Icons.css
  Docs/Stylesheets/LightMode.css
  Docs/SubModules/Iterators.md
  Docs/SubModules/Random.md
  Docs/SubModules/Stringify.md
  Docs/SubModules/UTF8Reverse.md
  Docs/SubModules/Validator.md
  Docs/index.md
  mkdocs.yml
Labels: Documentation

Initial Improved Documentation
  .github/workflows/DocsAutoPublish.yml
  Docs/ChangeLog.md
  Docs/Extra/Java.js
  Docs/Extra/Macros.py
  Docs/Extra/__pycache__/Macros.cpython-311.pyc
  Docs/MainModule.md
  Docs/Modules/Iterators.md
  Docs/Modules/MainModule.md
  Docs/Modules/Random.md
  Docs/Modules/Stringify.md
  Docs/Modules/UTF8Reverse.md
  Docs/Modules/Validator.md
  Docs/Overrides/.icons/Custom/RobloxStudio.svg
  Docs/Overrides/main.html
  Docs/Overrides/partials/social.html
  Docs/Overrides/partials/toc-item.html
  Docs/Stylesheets/DarkMode.css
  Docs/Stylesheets/Extra.css
  Docs/Stylesheets/Icons.css
  Docs/Stylesheets/LightMode.css
  Docs/SubModules/Iterators.md
  Docs/SubModules/Random.md
  Docs/SubModules/Stringify.md
  Docs/SubModules/UTF8Reverse.md
  Docs/SubModules/Validator.md
  Docs/index.md
  mkdocs.yml
Labels: Documentation

Possible Fix For Deployment
  mkdocs.yml
Labels: none

Add Social Icon
  mkdocs.yml
Labels: none

Add social icon
  mkdocs.yml
Labels: none

Rename RobloxStudio.svg to robloxstudio.svg
  Docs/Overrides/.icons/Custom/RobloxStudio.svg
  Docs/Overrides/.icons/Custom/robloxstudio.svg
Labels: Documentation

Rename Custom Icons Folder
  Docs/Overrides/.icons/custom/robloxstudio.svg
Labels: Documentation

Fix Link Icon
  Docs/index.md
Labels: Documentation

.github/labeler.yml:

Source Change: Source/*
Documentation: Docs/**/*
